---
---
<section class="billboard center-align">

  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 m2 offset-m5 ">
      <img class="responsive-img" src="image/logo.png" alt="logo">
    </div>
  </div>
  <h1>Blast <strong>Piruin Panichphol</strong></h1>
  <p>{{ site.description }}</p>
  {% include social.html %}
  <div class="center-align margin-top-20"><a href="/about/" class="waves-effect waves-light btn">About me</a></div>
</section>

<section class="row" id="recent-blog">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
  <h2>Recent Blogs</h2>
    {% for post in site.posts limit:3 %}

      <article class="card hoverable">
        <div class="card-content">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        <h3 class="card-title truncate"><a href="{{ post.url }}">{{ post.title | escape }}</a></h3>
        {% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | truncate: 200}}{% endif %}
        </div>
      </article>
    {% endfor %}
    <div class="right-align">
      <a class="waves-effect waves-light btn" href="/blog/">More</a>
    </div>
  </div>
</section>
