<footer class="page-footer">
<section class="container">
This site create by Jekll
</section>
<section class="footer-copyright">
  <div class="container">
  &copy; 2016 Piruin Panichphol. All rights reserved.
  <span class="rss-subscribe text-lighten-4 right">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span>
</div>
</section>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
