<footer class="page-footer">
<div class="container">
  This site create by using Jekll   <span class="rss-subscribe text-lighten-4 right">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span>

  <p class="center-align">
  &copy; 2016 Piruin Panichphol. All rights reserved.<br />
  Source code of website under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>,
  documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
  </p>
</div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>
$( document ).ready(function() {
     $(".button-collapse").sideNav();
});
</script>
