<footer class="page-footer">
<div class="container center-align">
  <p class="bigger-text">
    <i class="fa fa-code amber-text" aria-hidden="true" title="Code"></i> with
    <i class="fa fa-heart pink-text" aria-hidden="true" title="Love"></i> on
    <a href="https://github.com/piruin/piruin.github.io" rel="nofollow">Github</a>
    <i class="fa fa-github-alt" aria-hidden="true"></i>
  </p>
</div>
<div class="footer-copyright">
  <p class="center-align">
  &copy; 2016 Piruin Panichphol. All rights reserved.<br />
  Source code of website under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" rel="nofollow">Apache License v2.0</a>,
  documentation under <a href="http://creativecommons.org/licenses/by/4.0/" rel="nofollow">CC BY 4.0</a>.
  </p>
</div>
</footer>
