<head>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="{{ site.author }}" />
<meta name="robots" content="index, follow" />
{% seo title=false %}
{% feed_meta %}
{% include favicon.html %}

<link type="text/css" rel="stylesheet" href="/css/main.css" media="screen" />
{% include preload-css.html href="/css/font.css" %}
{% include preload-css.html href="/css/font-awesome.css" %}
{% if page.layout == 'post' %}{% include preload-css.html href="/css/dracula.css" %}{% endif %}
{% for style in page.inline-style %}<style>{% include {{ style }} %}</style>{% endfor %}
{% for script in page.inline-script %}<script>{% include {{ script }} %}</script>{% endfor %}
{% include load-css.html %}

{% if page.url == "/404.html" %}<meta http-equiv="refresh" content="5; url=/" />{% endif %}
</head>
