<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" {% if page.description %}content="{{ page.description }}"{% else %}content="{{ site.description }}"{% endif %}/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen"/>
  {% include favicon.html %}
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
