<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">BP</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/blog/">Blog</a></li>
        <li><a href="#main">About me</a></li>
      </ul>
      <a href="#mobile-nav-header" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-nav">
          <li><a href="#main"><h5 class="center-align" style="margin-top:42px;">Blast</h5></a></li>
          <li><a href="#main" class="center-align">Piruin Panichphol</a></li>
          <li><div class="divider"></div></li>
          <li class="bold"><a href="/" class="waves-effect"><i class="material-icons">home</i>Home</a></li>
          <li><div class="divider"></div></li>
          <li class="bold"><a href="/blog/" class="waves-effect"><i class="material-icons">book</i>Blog</a></li>
          <li><div class="divider"></div></li>
          <li class="bold"><a href="/" class="waves-effect"><i class="material-icons">face</i>About me</a></li>
          <li><div class="divider"></div></li>
      </ul>
    </div>
  </nav>
</div>
