<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">BP</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/about/">About me</a></li>
      </ul>
      <a href="#mobile-nav" data-activates="mobile-nav" class="button-collapse"><i class="material-icons fa fa-bars"></i></a>
      <ul class="side-nav" id="mobile-nav">
          <li><img class="responsive-img circle center-align" style="margin-top:40px;padding: 0 80px;" src="/image/profile-square.jpg" alt="blast's profile image"/></li>
          <li><a href="/" class="center-align"><h3>Blast <strong>Piruin Panichphol</strong></h3></a></li>
          <li><div class="divider"></div></li>
          <li><a href="/" class="waves-effect"><i class="material-icons fa fa-home fa-fw" aria-hidden="true"></i>Home</a></li>
          <li><div class="divider"></div></li>
          <li><a href="/blog/" class="waves-effect"><i class="material-icons fa fa-book fa-fw" aria-hidden="true"></i>Blog</a></li>
          <li><div class="divider"></div></li>
          <li><a href="/about/" class="waves-effect"><i class="material-icons fa fa-male fa-fw" aria-hidden="true"></i>About me</a></li>
          <li><div class="divider"></div></li>
      </ul>
    </div>
  </nav>
</div>
