<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">BP</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Blogs</a></li>
        <li><a href="#">About me</a></li>
      </ul>
      <!-- Mobile nav bar-->
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-nav">
        <section id="mobile-nav-head">
          <li><a href="#"><h5 class="center-align" style="margin-top:42px;">Blast</h5></a></li>
          <li><a href="#" class="center-align">Piruin Panichphol</a></li>
        </section>
        <li><div class="divider"></div></li>
        <section id="mobile-nav-menu">
          <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
          <li><div class="divider"></div></li>
          <li><a href="/"><i class="material-icons left">book</i>Blogs</a> </li>
          <li><div class="divider"></div></li>
          <li><a href="/"><i class="material-icons left">face</i>About me</a></li>
          <li><div class="divider"></div></li>
        </section>
      </ul>
    </div>
  </nav>
</div>
