<div class="center-align" style="padding:10px;">
  <a class="social facebook" href="{{ site.social.links[0] }}" rel="me nofollow" data-proofer-ignore>
    <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true" title="Facebook"></i>
    <span class="sr-only">My Facebook</span>
  </a>
  <a class="social twitter" href="{{ site.social.links[1] }}" rel="me nofollow">
    <i class="fa fa-twitter fa-2x fa-fw" aria-hidden="true" title="Twitter"></i>
    <span class="sr-only">My Twitter</span>
  </a>
  <a class="social github" href="{{ site.social.links[2] }}" rel="me nofollow">
    <i class="fa fa-github fa-2x fa-fw" aria-hidden="true" title="GitHub"></i>
    <span class="sr-only">My GitHub</span>
  </a>
  <a class="social mail" href="mailto:{{ site.email }}" rel="me nofollow">
    <i class="fa fa-envelope fa-2x fa-fw" aria-hidden="true" title="e-mail"></i>
    <span class="sr-only">Mail me</span>
  </a>

</div>
