<div class="center-align" style="padding:10px;">
  <a href="{{ site.social.links[0] }}" rel="me nofollow">
    <i class="social github fa fa-github fa-2x" aria-hidden="true" title="GitHub"></i>
    <span class="sr-only">GitHub</span>
  </a>
  <a href="{{ site.social.links[1] }}" rel="me nofollow">
    <i class="social twitter fa fa-twitter fa-2x" aria-hidden="true" title="Twitter"></i>
    <span class="sr-only">Twitter</span>
  </a>
  <a href="{{ site.social.links[2] }}" rel="me nofollow" data-proofer-ignore>
    <i class="social facebook fa fa-facebook fa-2x" aria-hidden="true" title="Facebook"></i>
    <span class="sr-only">Facebook</span>
  </a>
  <a href="{{ site.social.links[3] }}" rel="me nofollow">
    <i class="social instagram fa fa-instagram fa-2x " aria-hidden="true" title="Instagram"></i>
    <span class="sr-only">Instagram</span>
  </a>
  <a href="{{ site.social.links[3] }}" rel="me nofollow">
    <i class="social linkedin fa fa-linkedin fa-2x " aria-hidden="true" title="LinkedIn"></i>
    <span class="sr-only">LinkedIn</span>
  </a>
  <a href="mailto:{{ site.email }}" rel="me nofollow">
    <i class="social mail fa fa-envelope fa-2x" aria-hidden="true" title="e-mail"></i>
    <span class="sr-only">Mail me</span>
  </a>
</div>
