article {
  h2 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid $primary-color-light;
  }

  ul > li {
    list-style-type: disc;
    margin-left: 40px;
  }

  code {
    padding: 0.2em 0.4em;
    background-color: $primary-color-dark;
    border-radius: 3px;
    font-size: 80%;
  }

  pre {
    padding: 16px;
    background-color: $primary-color-dark;
    border-radius: 3px;
  }

  .content {
    @media only screen and (min-width: 0) {
        margin: 3rem 0 4rem 0;
    }
    @media only screen and (min-width: $medium-screen) {
        margin: 3rem 1rem 6rem 1rem;
    }
  }

  nav {
    margin: 0 -15px;
    font-size: 90%;
    display: block;
    width: auto;
    overflow: hidden;

    a {
      display: block;
      width: 50%;
      float: left;
      margin: 1em 0;
    }

  }
}

.fb-share-button, .twitter-share-button {
    margin-right: 5px;
}

