.social {
  color: $secondary-text-color;
  margin: 4px 8px;

  @media #{$small-and-down}  {
     width: 38px;
     margin: 8px 4px;
  }

  &.github {
    &:hover {
      color: #6cc644;
    }
  }

  &.facebook {
    &:hover {
      color: #3b5998;
    }
  }

  &.twitter {
    &:hover {
      color: #1da1f2;
    }
  }

  &.instagram {
    &:hover {
      color: #833ab4;
    }
  }

  &.linkedin {
    &:hover {
      color: #e68523;
    }
  }

  &.mail {
    &:hover {
      color: #d14836;
    }
  }
}
