---
layout: default
---

<article class="card-panel">
  <header class="center-align">
    <h1>{{ page.title | escape }}</h1>
    by <a href={{site.url}} rel="author">{{page.author}}</a>, <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
  </header>
  {{ content }}
  <footer class="center-align">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <img alt="สัญญาอนุญาตของครีเอทีฟคอมมอนส์" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
    </a><br />
    ผลงานนี้ ใช้<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">สัญญาอนุญาตของครีเอทีฟคอมมอนส์แบบ แสดงที่มา 4.0 International</a>
  </footer>
</article>
